            *{
                box-sizing:content-box;
            }
            .column1{
                background-image: url('images/bluebackground.jpg'); 
                background-repeat: no-repeat; 
                background-attachment: fixed; 
                background-size: cover;
                float: left;
                width: flex;
                padding: 25px;                
            } 
            .row:after{
                content:"";
                display:table;
                clear:both;
                padding-left: 30px;
                }
            .column{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                Color: black;
                font-weight: 500;
                line-height: 1.5;
                align-content: right;                
            }    
            body{
                background-image: url('images/botwbackground3.jpg'); 
                background-repeat: no-repeat; 
                background-attachment: fixed; 
                background-size: cover;       
                opacity: 0.75;         
            }
            .row{
                

            }
