            html{
                box-sizing: border-box;
            }

            .content{
                background-image: url('images/bluebackground.jpg'); 
                background-repeat: no-repeat; 
                background-attachment: fixed; 
                background-size: cover;
                padding: 25px;                
                text-align: left;
            }

            .column{
                
            }    
            body{
                background-image: url('images/botwbackground3.jpg'); 
                background-repeat: no-repeat; 
                background-attachment: fixed; 
                background-size: cover;       
                opacity: 0.75;         
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                Color: black;
                font-weight: 500;
                line-height: 1.5;
            }

            .header{
                text-align: center;
            }
