.styledFont{
    font-size: xx-large;
    color:darkred;
    background-color: darkkhaki;
}

#centered-text{
    text-align:center;
    font-size:1in;
    color:mediumseagreen;
}

#bolded-text{
    font-weight:bold;
    color:blue
}

#font-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mixed-text{
    font-size:x-large;
    font-weight:bold;
    color:orange
}
